* {
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    height: 101px;
    display: flex;
    justify-content: center;
    background: black;
    width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.banner-1-desktop {
    width: 100%;
}

.banner-1-mobile {
    width: 100%;
    display: none;
}

.first-section h2 {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 39px;
    font-weight: 400;
}

.first-section h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
}

.first-section p {
    margin-top: 28px;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.text-1 {
    width: 50%;
}

.first-section {
    margin-top: 74px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.image-computer{
    width: 18%;
}

.image-section {
    display: flex;
    justify-content: center;
    margin-top: 74px;
}

.section-cards {
    justify-content: center;
    align-items: center;
    gap: 21px;
    display: flex;
}

.image-card {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    max-width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 179px;
}

.image-card-image {
    display: block;
    margin-top: 36px;
}

.image-card-paragraph {
    padding-top: 27px;
    padding: 26px;
    max-width: 300px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.midle-card-section {
    display: flex;
    background: #E0E0E0;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.midle-card {
    position: relative;
    top: 62px;
}

.midle-card-div {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.midle-card-section img {
    flex-direction: row;
    max-width: 50vmin;
}

.midle-card-section > img {
    max-width: 50vmin;
}

.section-cards-second {
    padding: 0 72px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: flex;
}

.image-card-second {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    max-width: 432px;
    max-height: 332px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 162px;
}

.image-card-image-second {
    display: block;
    margin-top: 36px;
}

.image-card-paragraph-second {
    font-style: normal;
    color: #000000;
    padding-top: 14px;
    padding-bottom: 64px;
    padding: 33px;
    max-width: 368px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.text-2-section h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
}

.text-2-section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.text-2 {
    width: 28.65%;
}

.text-2-section {
    margin-top: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-image {
    width: 70.83%;
}

.footer-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-image-section {
    margin-top: 50px;
}

@media screen and (max-width: 1024px) {
    .banner-1-desktop {
        display: none;
    }

    .banner-1-mobile {
        display: unset;
    }

    .text-1 {
        width: 86.47%;
    }

    .first-section p {
        text-align: center;
    }

    .section-cards {
        display: flex;
        flex-direction: column;
        margin-top: 90px;
    }

    .image-card {
        max-width: 84.54%;
        margin-top: 0%;
        padding-top: 35px;
        padding-left: 26px;
        padding-right: 26px;
        padding-bottom: 27px;
    }

    .image-computer {
        width: 57.73%;
    }

    .midle-card-section {
        flex-direction: column;
        padding: 0 23px;
        gap: 24px;
    }

    .midle-card-div {
        padding: 0 20px;
        flex-direction: row-reverse;
        gap: 14px;
        justify-content: center;
    }

    .midle-card-div img {
        max-width: 54.2%;
    }

    .midle-card-section > img {
        max-width: 100%;
    }

    .section-cards-second {
        display: flex;
        flex-direction: column;
        margin-top: 112px;
    }

    .image-card-second {
        max-width: 84.54%;
        margin-top: 0%;
        padding-top: 35px;
        padding-left: 26px;
        padding-right: 26px;
        padding-bottom: 27px;
    }
}
