* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    align-items: center;
    height: 101px;
    display: flex;
    justify-content: center;
    background: black;
    width: 100%;
}